@model Blog.Api.ViewModels.ComentariosPostViewModel

@{
    ViewData["Title"] = "Comentários";
}




<section class="col-md-9 posts">


    <div class="comentario">
        <div class="post-section">
            <h2>@Model.Post.Titulo</h2>
            <p>@Model.Post.Conteudo</p>
        </div>

        @foreach (var comentario in Model.Comentarios)
        {
        <div class="comentario">
            <div class="post-content">
                    <p>@comentario.Conteudo</p>
            </div>
			<div class="post-info d-flex justify-content-between">
				<p class="date-author">Publicado em: @comentario.DataCadastro.ToString("dd/MM/yyyy") por @comentario.NomeAutor</p>
			</div>
		</div>
        }
        
        <form asp-action="AdicionarComentario">
            <div class="form-group">
                <label for="conteudo">Comentário</label>
                <textarea id="conteudo" name="conteudo" class="form-control" rows="3"></textarea>
            </div>
            <br />
            <input type="hidden" name="PostId" value="@ViewBag.PostId" />
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</section>