@model IEnumerable<Blog.Api.ViewModels.PostViewModel>

<div class="container mt-5">
    <h2>Meus Posts</h2>
    @if (!Model.Any())
    {
        <p>Nenhum post encontrado.</p>
    }
    else
    {
        @foreach (var post in Model)
        {
            <div class="post row">
                <div class="col-md-3">
                   
                    <i class="fas fa-image fa-3x text-muted"></i>
                    @*
                    @if (string.IsNullOrEmpty(post.ImagePath))
                    {
                    <i class="fas fa-image fa-3x text-muted"></i>
                    }
                    else
                    {
                    <img src="@post.ImagePath" alt="Imagem do Post" class="img-fluid" onerror="this.onerror=null; this.src='/path/to/generic-image.png';" />
                    }
                    *@
                </div>
                <div class="col-md-9">
                    <h2>@post.Titulo</h2>
                    <div class="post-info d-flex justify-content-between">
						<p class="date-author">Por @post.NomeAutor, publicado em: @post.DataCadastro.ToString("dd/MM/yyyy") </p>
                    </div>
                    <div class="post-content">
                        <p>@post.Conteudo</p>
                    </div>
                    <div class="post-meta d-flex justify-content-between">
                        <div>
                            <i class="fas fa-eye"></i>
                            <a asp-controller="Comentario" asp-action="Index" asp-route-postId="@post.Id" class="ml-3">
                                <i class="fas fa-comments"></i> @post.Comentarios.Count
                            </a>
                            <a href="@Url.Action("Edit", "Post", new { id = post.Id })" class="ml-3">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Post", new { id = post.Id })" class="ml-3">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
