@model IEnumerable<PostViewModel>
@{
    ViewData["Title"] = "Posts";
}
<div class="row">
    <section>

        <div class="d-flex justify-content-end mb-3">
            <a asp-action="Create" class="btn btn-outline-primary btn-transparent"><i class="fas fa-plus"></i> POST</a>
        </div>    

        <div class="col-md-11 mx-auto">

        @foreach (var post in Model)
        {
            <div class="post row">
                <div class="col-md-3">
                    <i class="fas fa-image fa-3x text-muted"></i>
                    @*
                    @if (string.IsNullOrEmpty(post.ImagePath))
                    {
                       <i class="fas fa-image fa-3x text-muted"></i>
                    }
                    else
                    {
                        <img src="@post.ImagePath" alt="Imagem do Post" class="img-fluid" onerror="this.onerror=null; this.src='/path/to/generic-image.png';" />
                    }
                    *@
                </div>
                <div class="col-md-9">
                    <h2>
                        <a asp-action="Details" asp-route-id="@post.Id">
                            @if (post.Comentarios?.Count() >= 1)
                            {
                                <i class="fa-solid fa-folder-open"></i>
                            }
                            else
                            {
                                <i class="fa-solid fa-folder"></i>
                            }
                            @(post.Titulo is { Length: > 40 } ? post.Titulo[..40] + "..." : post.Titulo)
                        </a>
                    </h2>
                    <hr />


                    <div class="post-content">
                        <p>@(post.Conteudo is { Length: > 120 } ? post.Conteudo[..120] + "..." : post.Conteudo) </p>
                         

                    </div>

                    <div class="post-meta d-flex justify-content-between">
                        <div class="col-md-3">
                            <i class="fas fa-comments"></i> @post.Comentarios?.Count()
                            @if(post.Autorizado)
                            {
                                <a asp-action="Edit" asp-route-id="@post.Id" class="ml-3" title="editar"> <i class="fas fa-edit"></i></a>
                                <a asp-action="Delete" asp-route-id="@post.Id" class="ml-3" title="excluir"><i class="fas fa-trash-alt"></i></a>
                            }
                        </div>
                        <div class="post-info d-flex justify-content-end col-md-9">
                                <span class="date-author">Publicado em: @post.PublicadoEm?.ToString("dd/MM/yyyy") por @post.Autor?.Nome </span>

                        </div>
                    </div>
               </div>
            </div>

        }
    
        </div>
   
    </section>
    
</div>
