@model IEnumerable<Blog.Api.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<section class="col-md-9 posts">
    @foreach (var post in Model)
    {
        <div class="post">
            <h2>@post.Titulo</h2>
            <div class="post-info d-flex justify-content-between">
                <p class="date-author">Publicado em: @post.DataCadastro.ToString("dd/MM/yyyy") por @post.NomeAutor</p>
            </div>
            <div class="post-content">
                <p>@post.Conteudo</p>
            </div>
            <div class="post-meta d-flex justify-content-between">
                <div>
                    <i class="fas fa-eye"></i>
                    <a asp-controller="Comentario" asp-action="Index" asp-route-postId="@post.Id" class="ml-3">
                        <i class="fas fa-comments"></i> @post.Comentarios.Count
                    </a>
                </div>
            </div>
           
        </div>
    }
</section>

